<div class="edit_dog">
<h1>Edit Dog!</h1>
<%= form_for @dog do |d| %>
  <%= d.label :name %>
  <%= d.text_field :name %>

  <%= d.label :breed %>
  <%= d.text_field :breed %>

  <%= d.label :age %>
  <%= d.text_field :age %>

  <%= d.submit %>
  <% end %>
  </div>